{{!-- 
templates/friends/index.hbs
Accepts a model() from the index.js router.
model is an array of friends
 --}}
<h1>Friends Index</h1>
<h2>Total friends: {{model.length}}</h2>

<ul>
	{{#each model as |friend|}}
		<li>
			{{link-to friend.fullName 'friends.show' friend}}
				{{!-- {{friend.id}}: {{friend.firstName}} {{friend.lastName}} --}}
			
		</li>
	{{/each}}
</ul>


{{#link-to 'friends.new'}}New{{/link-to}}