<ul>
	<li>First Name: {{model.firstName}}</li>
	<li>Last Name: {{model.lastName}}</li>
	<li>Email: {{model.email}}</li>
	<li>Twitter: {{model.twitter}}</li>
</ul>

{{#link-to 'friends'}}Index{{/link-to}} | 

{{!-- {{#link-to 'friends.edit' model}}Edit {{model.fullName}}{{/link-to}} --}}
{{link-to "Edit friend" "friends.edit" model}}
